body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}
header{
  background-color: #4f95ff;
  padding-top: 25px;
}
.logo{
  color: white;
  width: 100%;
  font-size: 500%;
}
main {
  padding: 30px;
}
.research-link {
  max-width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
img:hover {
  cursor: pointer;
}
    /* Place the footer navbar at the bottom of the page, and make it stick */
.header-navbar {
  background-color: #4f95ff;
  overflow: hidden;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  /* padding: 1rem 1.5rem; */
}
/* Style the links inside the navigation bar */
.header-navbar a {
  /* float: left; */
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 17px;
  flex: auto;
}

/* Change the color of links on hover */
.header-navbar a:hover {
  background-color: #74dcff;
  color: white;
}

/* Add a color to the active/current link */
.header-navbar a.active {
  background-color: #74dcff;
  color: white;
}
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

  /* Place the footer navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #4f95ff;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 1rem 1.5rem; */
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  flex: auto;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #74dcff;
  color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #74dcff;
  color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}